
.add
{
  width: 350px;
  min-height:400px;
  border-radius:5px;
  background-color: white;
}
.add h3
{
  
    color:white;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;

}
.addTask
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;

  & input
  {
    background-color: white;
    color:black;
    border-radius: 10px;
    padding:5px;
  }
}
.addBtn
{
  background-color: black;
}
.delBtn
{
  background-color: white;
  border:0;
}
.delBtn:focus{
  outline:0;
  
}
h4{
  margin-top: 0px;
  margin-bottom: 0px;

}

  .display ul li
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
   .icon
  {
   
  
    color:red;
    background-color: white;
  }

